<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Coding Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.key}"></td>
        <td th:text="${event.value}"></td>
        <td th:replace="fragments :: techHubAddress"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
