body {
    font-size: 18px;
    color: #333;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #343a40;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
